
*~
*.bak
*.pyc
*.log
*.trs

# directories
build*
tmp

# gtags files
GPATH
GRTAGS
GTAGS

# Libtool libraries
*.lo
*.la
.libs
.deps
.dirstamp

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

