
*~
*.bak
*.pyc
*.log
*.trs

# directories
build*
tmp

# gtags files
GPATH
GRTAGS
GTAGS

# Libtool libraries
*.lo
*.la
.libs
.deps
.dirstamp

# Autoconf files
*.in
aclocal.m4
autom4te.cache
compile
configure
config.*
depcomp
install-sh
ltmain.sh
m4
missing

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

